<div class="flex justify-between p-20">
    <div class="winners">
        <div class="winnersHead">
            Winners
        </div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
        <div class="winnersData"></div>
    </div>
    <div class="flex justify-center spinData">
        <h1 class="spinHead">Good Luck,
            <span>Karla</span>
        </h1>

        <div class="donut">
            <div class="inner">
                <span class="pic arrow-up"></span>
                <div class="upperDonut">
                    <div class="innerUpperDonut">
                        <div class="innerDonut">Spin</div>
                    </div>
                </div>
                <span class="pic arrow-down"></span>
            </div>
        </div>
        <!-- <div>
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="50%">
                </div>
            </ngx-slick-carousel>
            <button (click)="addSlide()">Add</button>
            <button (click)="removeSlide()">Remove</button>
            <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
            <button (click)="slickModal.unslick()">unslick</button>
        </div> -->
    </div>

    <div class="players">
        <div class="playersHead">
            Players
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <div style="align-items: center; height:65px; width:65px;">
                    <img src="assets/topLeft8.png" alt="">
                </div>
                <h1>Ruang Seni</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/topLeft8.png" alt="">
                <h1>Karla Svensson</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/bottomRight8.png" alt="">
                <h1>Anip Safiya</h1>
                <small><a>Choose Spinner</a></small>
            </div>

        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/bottomRight4.png" alt="">
                <h1>John Doe</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/topLeft8.png" alt="">
                <h1>Samuel Brown</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/topLeft2.png" alt="">
                <h1>Toni Kroos</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
        <div class="playersData">
            <div class="flex flex-row position-relative">
                <img src="assets/topLeft8.png" alt="">
                <h1>Matt Hummels</h1>
                <small><a>Choose Spinner</a></small>
            </div>
        </div>
    </div>
</div>