.bg-blue {
    background-color: #3F72B0;
}

.card-content {
    height: 130px;
    font: normal normal normal 13px/16px Baloo Bhaina 2;
    margin-top: 20px;
}

.img {
    height: 20px;
    width: 20px;
    transform: rotate(270deg);
    margin-right: 5px;
}

.card {
    background: #fff;
    border-radius: 10px;
    width: auto;
    // padding: 0px 10px 10px 10px;
    margin: 20px 10px;
    box-shadow: 3px 3px 6px #00000029;
}

.card-head {
    // width: 80%;
    font: normal normal normal 25px/56px Cute Font;
    font-family: 'Cute Font', cursive;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.card-1-bg {
    background-image: url('../../assets/topPattern1.svg');
}

.card-2-bg {
    background-image: url('../../assets/topPattern2New.svg');
}

.card-3-bg {
    background-image: url('../../assets/topPattern3New.svg');
}

.card-4-bg {
    background-image: url('../../assets/topPattern4New.svg');
}

.card-5-bg {
    background-image: url('../../assets/topPattern5New.svg');
}

.card-6-bg {
    background-image: url('../../assets/topPattern6New.svg');
}

.card-7-bg {
    background-image: url('../../assets/topPattern7New.svg');
}

.card-8-bg {
    background-image: url('../../assets/topPattern8New.svg');
}

.card-5-content{
    font: italic normal normal 21px/16px Brush Script MT;
}
.card-7-content{
    font: italic normal normal 13px/16px Iowan Old Style;
}
.box-shadow {
    box-shadow: 3px 3px 6px #00000029;
}
.email1Color{
    color:#FF95A6FC;
}
.email2Color{
    color:#74CBC4;
}
.email3Color{
    color:#9E4A83;
}
.email4Color{
    color:#C58CD0;
}
.email5Color{
    color:#9E4A83;
}
.email8Color{
    color:#B09A37;
}
.imageLeft {
    height: 60px;
    width: 60px;
}
.imageRight {
    // position: absolute;
    // transform: rotate(270deg);
    // top: -10px;
    // right: -10px;
}

.imageBottom {
    height: 50px;
    width: 50px;
    transform: rotate(360deg);
    float: right;
    z-index: 1111;
}

.bottomPatternImg {
    z-index: 1;
    top: -185px;
    right: 175px;
}

.likeSection {
    // width: 30%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.likeSection img {
    transform: rotate(270deg);
    margin-right: 5px;
}

.commentSection {
    // width: 30%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.commentSection img {
    transform: rotate(270deg);
    margin-right: 5px;
}

.imageSection {
    // width: 10%;
    display: flex;
    margin-right: 10px;
}

.imageSection img {
    transform: rotate(270deg);
    margin-right: 5px;
}

.ellipsisSection {
    width: 10%;
    display: flex;
    align-items: center;
    color: lightgrey;
}

.has-bg-img {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
}

.has-bg-bottom {
    padding: 0px 10px 0px 10px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: inherit;
    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.activeSprintDropdown {
    position: absolute;
    top: 50px;
    left: 135px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.z-index {
    z-index: 111;
}

.align-center {
    align-items: center;
}

.givenIcon,
.receivedIcon {
    position: relative;
    right: -33px;
    top: -20px;
}

.btn-bg {
    background-color: #3F72B0;
    color: #fff;
}

.sendIcon,
.playIcon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.borderGray {
    border-bottom: 1px solid lightgray;
}

.activeSprintDropdown small {
    color: gray;
}

.check {
    color: #3F72B0;
    font-size: 15px;
    margin-left: 5px;
}

.checkGray {
    color: lightgray;
    font-size: 15px;
    margin-left: 5px;
}

.search-icon {
    position: absolute;
    right: 20px;
    color: lightgray;
}

.settingDropdown {
    position: absolute;
    top: 50px;
    right: 80px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.closeIcon {
    font-size: 20px;
    background-color: #3F72B0;
    color: rgb(209 213 219 / var(--tw-bg-opacity));
    border-radius: 50%;
    padding: 10px 12px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 1111;
    box-shadow: 6px 6px 56px #00000029;
    border-radius: 25px;
}


.popup {
    margin: 70px auto;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 20px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
    cursor: pointer;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    padding: 30px;
}

@media screen and (max-width: 700px) {

    .popup {
        width: 70%;
    }
}

.popup .popupContent {
    width: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px 9px 9px 0px;
    opacity: 1;
    padding: 10px;
    margin: 20px;
    // height:220px;
    // overflow-y: auto;
    position: relative;
}

.popupHead {
    background: #3F72B0;
    position: absolute;
    top: -18px;
    color: #fff;
    padding: 5px;
    width: 30%;
    text-align: center;
}

.plusIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: #3F72B0;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prizeDiv {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
    margin-top: 60px;
}

input[type="radio"] {
    -ms-transform: scale(3);
    /* IE 9 */
    -webkit-transform: scale(3);
    /* Chrome, Safari, Opera */
    transform: scale(3);
    // box-shadow: 0px 3px 6px #00000029;
}

.card1Left{
    background:#fff; position: absolute; padding:0 20px; border-radius:0 20px 20px 0; left:50px; top:5px; z-index:111;
}

.card1Right{
    background:#fff; position: absolute; padding:0 20px; border-radius:20px 0px 0px 20px; right:55px; bottom:5px; z-index:111;
}

.zIndex{
    z-index:1;
}
.z-index{
    z-index:1111;
}

.sidebar{
    width:30%; background:#FF95A6FC;
}

.sidebar .heading{
    font-size:20px; background:#FF95A6FC;
}

.bg-pink{
    background:#FFB8B8;
}